body {
    min-width: 40em;
    overflow: hidden;
}

#funds-data {
    height: 18em;
}

#fund {
    width: 25em;
}

#fund-options {
    width: 28em;
    border: 1px solid;
    display: none;
}

button {
    display: inline-block;
    background-color:#006dcc;
    border: none;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    padding: 4px 4px 4px 4px;
}

button:hover {
    background-color: #04c;
    cursor: pointer;
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
}

table tr th {
    background-color: lightgrey;
}

th, td {
    padding: 5px;
    text-align: center;    
}

td#positive-percentage {
    background-color: lightgreen;
}

td#negative-percentage {
    background-color: #FA8072;
}

table div {
    height: 18em;
}

#funds-list {
    font-size: 1.2em;
    cursor: pointer;
    color: dodgerblue;
    float: right;
}

h2 {
    text-align: center;
}

#fund-options :hover {
    background-color:lightgrey;
}

#mutual-fund {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

#mutual-fund:hover {
    color: #04c;
    font-weight: bold;
}

.remove-fund {
    cursor: pointer;
}