body {
    min-width: 40em;
    /*min-height: 25em;*/
    overflow: hidden;
}

#funds-data {
    /*border: 2px solid;*/
    height: 18em;
}

#fund {
    width: 25em;
}

#fund-options {
    width: 28em;
    border: 1px solid;
    display: none;
}

button {
    display: inline-block;
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: center;    
}

td#positive-percentage {
    background-color: lightgreen;
}

td#negative-percentage {
    background-color: #FA8072;
}

table div {
    height: 18em;
}

#funds-list {
    font-size: 1.2em;
    cursor: pointer;
    color: dodgerblue;
    float: right;
}

h3 {
    text-align: center;
}