body {
    min-width: 45em;
    overflow: hidden;
    /*background-color: #f7f7f8;*/
    /*background-color: #E8EAEC;*/
    background-color: #EEEFF0;
    font-family: 'Exo 2', sans-serif;
}

#funds-data {
    height: 18em;
}

#nav-header {
    text-align: left;
}

#fund {
    width: 32em;
    padding: 5px 5px;
    margin-right: 1em;
}

#fund-options {
    width: 28em;
    border: 1px solid;
    display: none;
    background-color: #fff;
}

button {
    display: inline-block;
    background-color:#006dcc;
    border: none;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    padding: 7px;
}

button:hover {
    background-color: #04c;
    cursor: pointer;
}

table, th, td {
    border-right: 0.5px;
    border-collapse: collapse;
}

table tr th {
    /*background-color: #292b2c;*/
    background-color: #454545;
    color: #fff;
    font-weight: bold;
    font-size: 1.3em;
}

table tr td {
    background-color: #fff;
    /*font-family: 'Lato', sans-serif;*/
    font-family: 'Roboto', sans-serif;
}

th, td {
    padding: 5px;
    text-align: center;
}

#add-mutual-fund {
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}

td#positive-percentage {
    background-color: lightgreen;
}

td#negative-percentage {
    background-color: #FA8072;
}

table div {
    height: 18em;
}

#funds-list {
    font-size: 1.2em;
    cursor: pointer;
    color: dodgerblue;
    float: right;
    font-style: italic;
}

#clear {
    font-size: 1.2em;
    cursor: pointer;
    color: dodgerblue;
    text-decoration: underline;
    font-style: italic;
}

#clear:hover {
    color: #E74D5F;
}

#funds-list:hover {
    color: #2349F5;
}

h1 {
    text-align: center;
    text-shadow: 2px 2px 4px lightgrey;
}

#fund-options :hover {
    background-color:#80c9f7;
}

#mutual-fund {
    color: #000;
    text-decoration: none;
}

#mutual-fund:hover {
    color: #04c;
}

.remove-fund {
    cursor: pointer;
}
